#wordList ul{
	
	  list-style-type: none;
}

#wordList ul li{
	  padding: 3px;
}

#left{
	width: 10%;
	margin-right: 25px;
	border-right: 2px blue solid;
	float: left;
	padding-right: 10px;
	height: 100%;
}

#left a{
	text-decoration: none;
	
	
}

#left a:hover{
	text-decoration: underline;
}

#right{
	width: 80%;
	float: left;
}
.selected{
	background: grey;
}